In [7]:
from dotenv import load_dotenv
import os
load_dotenv()
bw_user = os.environ['bw_user']
bw_password = os.environ['bw_password']
tfn = 'technologies.csv'

In [139]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import WebDriverException
from bs4 import BeautifulSoup
import io
import pandas as pd
from selenium.webdriver.support import expected_conditions as EC
import time
import sys

In [3]:
driver = webdriver.chrome.webdriver.WebDriver('/usr/local/bin/chromedriver')
driver.get("http://biglistofwebsites.com/")
# print(driver.title)
assert "Big Lists of Website" in driver.title
urls = []

In [4]:
for i in range(81,0x5B):
  for j in range(75,0x5B):
    search = f"{chr(i)}{chr(j)}AA"
    elem = driver.find_element_by_css_selector("input[name='redirect']")
    elem.clear()
    elem.send_keys(search)
    elem.send_keys(Keys.RETURN)
    #time.sleep(5)
    source = driver.page_source
    assert "No results found." not in driver.page_source
    html = BeautifulSoup(source, 'html.parser')
    urls.extend([tx.text for tx in html.find_all('a', {'rel': 'nofollow'}, {'target': '_blank'})])
    
f = io.open('urls.csv', 'w')
f.write(",".join(urls))
f.close()
print(len(urls))    
driver.close()

1211

In [130]:
class technologies_class:
    def __init__(self, find_dups = False):
        self.data = []
        self.dups = []
        self.find_dups = find_dups
        f = io.open(tfn, 'r')
        for technology in f.read().split(','):
            if ~find_dups:
                self.data.append(technology)
            else:
                self.add(technology)
        f.close()

    def add(self, technology):
        if self.find_dups:
            technology = technology.strip()      
        try:
            i = self.data.index(technology)
        except ValueError:
            pass
        else:
            if self.find_dups:
                self.dups.append(technology)
            return i
        if (technology[0] in ' \t\n':
            print('shit')
        self.data.append(technology)
        return self.data.index(technology)

    def technologies(self):
        for t in self.data:
            if t in ' \t\n'
                print('double shit')
            yield t
    def print_dups(self):
        print(f"count: {len(self.dups)}")
        print(', '.join(self.dups))
    def store(self):
        f = io.open(tfn, 'w')
        f.write(', '.join(self.data))
        f.close()

# technology.add('Google Analytics')
# technology.store()

SyntaxError: invalid syntax (<ipython-input-130-b8dfbc759a5d>, line 25)

In [ ]:
technology = technologies_class()

In [11]:

with_tech_url = 'https://pro.builtwith.com/'
# with_tech_url = 'https://www.wappalyzer.com/'
driver = webdriver.chrome.webdriver.WebDriver('/usr/local/bin/chromedriver')
# dir(driver)
wait = WebDriverWait(driver, 10)
driver.get(with_tech_url)
    #elem = driver.find_element_by_css_selector('input[placeholder="Website, Tech, Keyword"]')
    # <a class="text-light" href="//builtwith.com/login">Log In</a>
time.sleep(1)
# elem = driver.find_element_by_css_selector(r'a[href="//builtwith.com/login"]')
# elem.click()
print(driver.title)
WebDriverWait(driver, 10).until(EC.title_contains("Log in"))
elem = wait.until(EC.element_to_be_clickable((By.CSS_SELECTOR, "input[type='email']")))
elem.send_keys(bw_user)
# elem.send_keys(Keys.TAB) 
time.sleep(1)
elem = wait.until(EC.element_to_be_clickable((By.CSS_SELECTOR, "input[type='password']")))
elem.send_keys(bw_password)
# elem.send_keys(Keys.TAB)  
time.sleep(1)
elem = wait.until(EC.element_to_be_clickable((By.CSS_SELECTOR, "input[type='submit']")))
elem.click()
rows = []
for url in urls:
#     if url in ['more info','collapse', 'Privacy Policy', 'Terms of Use' ]:
#         continue
  if url.find('.') > 0:
    print(url)
    #elem = driver.find_element_by_css_selector('input[placeholder="Website, Tech, Keyword"]')
    elem = driver.find_element_by_css_selector("input[name='q']")
    elem.clear()
    elem.send_keys(url)
    elem.send_keys(Keys.RETURN)
    assert "No results found." not in driver.page_source
    source = driver.page_source
#     f = io.open(f'{url}.html', 'w')
#     f.write(source)
#     f.close()    
    html = BeautifulSoup(source, 'html.parser')
    h2as = []
    for h2 in html.find_all('h2'):
        try:
            h2a = h2.find_next('a', {'class': 'text-dark'}).text
        except:
            pass
        else:
            h2as.append(h2a)
    print(f"len h2as  {len(h2as)}")
    row = {'url': url}
    for h2a in h2as:
        i = technology.add(h2a)
        row[i] = 1
    rows.append(row)
    # break
df = pd.DataFrame(rows)
print(df.head())
print(df.shape)
df.to_pickle('sites.1.pkl') 
technology.store()
try:
  driver.close()
except WebDriverException:
  print('driver.close failed')

Log in to BuiltWith
qmaa.ca
len h2as  0
qvae.blogspot.com
len h2as  21
russia-promo.com
len h2as  20
rmaa.com.br
len h2as  20
refermeanagent.com
len h2as  0
rozziemay.org
len h2as  6
egyroaa.com
len h2as  5
roaarealestate.com
len h2as  7
rpaa.org
len h2as  7
rraaonline.org
len h2as  5
rosevilletheatreartsacademy.com
len h2as  5
rtaa.org.au
len h2as  6
ralumni.com
len h2as  6
bistro-skaa.de
len h2as  4
slaadvi.org
len h2as  5
saratogalakesideacres.org
len h2as  8
jamhurimedia.co.tz
len h2as  5
slaa.org.br
len h2as  9
unityclub.com
len h2as  8
healthymind.com
len h2as  9
outercircletreatment.com
len h2as  4
theserenitycenter.org
len h2as  4
mandalainvestigations.com
len h2as  8
krzydlina.eu
len h2as  8
akhbarat.com
len h2as  7
smaaegypt.com
len h2as  5
smaacorp.com
len h2as  2
smaa.se
len h2as  4
smacademy.com
len h2as  6
shimsmartialarts-hub.com
len h2as  7
capitalfoodandwinefestival.com
len h2as  7
all-angels.com
len h2as  6
swmaa.org
len h2as  7
s-m-a-a.ch
len h2as  6
mountainwinddojo.com
len h2as  7
smaaa.org
len h2as  6
paktube.com.pk
len h2as  6
manypost.com
len h2as  5
stmichaelandallangels.ca
len h2as  9
stalkerportaal.ru
len h2as  5
estravel.ee
len h2as  8
hotelliveeb.ee
len h2as  4
thespaassociation.com
len h2as  7
gospa.ee
len h2as  6
grandrose.ee
len h2as  7
somersetpediatrics.com
len h2as  6
lelittlespaa.ca
len h2as  6
spaavic.com
len h2as  6
aqvahotels.ee
len h2as  3
terviseparadiis.ee
len h2as  6
dorpatspa.ee
len h2as  5
cityspa.ee
len h2as  9
cumbrianspaaf.com
len h2as  4
nobhillspa.com
len h2as  6
kinder.com.de
len h2as  9
rt23paradisenail.com
len h2as  5
massageandrelax.ch
len h2as  9
highschoolofperformingarts.com
len h2as  5
meresuu.ee
len h2as  9
spasapphire.com
len h2as  7
spaa-torrent.ru
len h2as  9
gjcameraclub.com
len h2as  9
renewdayspa.com
len h2as  6
sraa.asia
len h2as  4
ssaa.org.au
len h2as  8
farmerassist.com.au
len h2as  4
ssaasunshinecoast.org.au
len h2as  8
myssaa.com.au
len h2as  5
acasongs.com
len h2as  7
thedistricteight.org
len h2as  7
ssaasoftball.com
len h2as  8
bellavocevt.org
len h2as  5
divescapaflow.co.uk
len h2as  8
insabt.ir
len h2as  9
skidaskali.is
len h2as  7
wemekampschildersbedrijf.nl
len h2as  5
al-tek.al
len h2as  7
svaero.org
len h2as  7
suffieldems.org
len h2as  9
svadakolkir.de
len h2as  5
ovc.gov
len h2as  6
swaa.no
len h2as  9
swaanordfjord.no
len h2as  4
safewateradvocacyalliance.org
len h2as  9
seminolechiefs.org
len h2as  6
syaasports.com
len h2as  7
syaa.jp
len h2as  8
rujukanmuslim.com
len h2as  7
tkaa.org
len h2as  6
mem.go.tz
len h2as  7
tmaa.go.tz
len h2as  4
tanakasmartialartsacademy.com
len h2as  7
texasmartialartsacademy.com
len h2as  6
todalen.no
len h2as  7
scandinaviashop.cz
len h2as  4
norskamoda.cz
len h2as  4
traarepuestos.com
len h2as  9
bybutterfly.dk
len h2as  4
damatraa.com
len h2as  8
vantraa.nl
len h2as  4
peter-traa.de
len h2as  9
wease.nl
len h2as  7
workoutshop.dk
len h2as  7
urbantraining.cz
len h2as  5
viveremharmoniars.com
len h2as  5
norwayshop.sk
len h2as  6
navasport.no
len h2as  7
merino-shop.com
len h2as  9
thedutchconnection.no
len h2as  6
auto-traa.nl
len h2as  9
skiwear4u.dk
len h2as  7
colosseumsport.dk
len h2as  9
altijdsporten.nl
len h2as  6
sportsdeal.no
len h2as  4
norliv.dk
len h2as  9
grupalaksystem.eu
len h2as  7
intersportvalby.dk
len h2as  7
tribalgear.com
len h2as  8
sport1sortland.no
len h2as  9
tsaateashop.com
len h2as  8
texasarchery.org
len h2as  3
dallastechsan.org
len h2as  8
ttaa.or.th
len h2as  8
raob.com
len h2as  8
galleryngifts.com
len h2as  5
ttvaa.org
len h2as  6
tvappagency.com
len h2as  5
twowaters.org
len h2as  7
h2oboxing.com
len h2as  7
umaa.net
len h2as  8
ahsajub.org
len h2as  5
umaarajendracinemas.com
len h2as  7
deco27.com
len h2as  6
bothaonline.com
len h2as  6
unaa.mn
len h2as  7
unaacauses.org
len h2as  8
ostomy.org
len h2as  5
uoaa.org
len h2as  4
summers-restaurant.com
len h2as  6
dodcommunitybank.com
len h2as  8
usaa529.com
len h2as  9
usaastories.com
len h2as  8
siracohomes.com
len h2as  9
usrealco.com
len h2as  6
detroitglassandmirror.com
len h2as  8
usaaleavingthemilitaryguide.com
len h2as  8
usaa.org
len h2as  4
usaamagazine.com
len h2as  7
woodsofbrookhollow.com
len h2as  4
fayettevillencmlslistings.com
len h2as  9
fortstewarthomefinder.com
len h2as  8
southaustinhomes.net
len h2as  5
firewheelapartments.com
len h2as  7
paramountautos.com
len h2as  9
thehoffmanterrygroup.com
len h2as  5
salutetoservice.com
len h2as  6
chapmanautoglass.com
len h2as  5
theheightsapts.com
len h2as  4
theunitedgroup.com
len h2as  6
relocation-atlanta.com
len h2as  6
bmwofbelair.com
len h2as  7
homesbyzan.com
len h2as  4
brightideasdaycare.com
len h2as  4
ashleemartindale.com
len h2as  7
groceandfincher.com
len h2as  6
midstateautos.com
len h2as  3
michelletuckerelpasorealtor.com
len h2as  6
snowprophoto.com
len h2as  5
bmwrockville.com
len h2as  6
hansonmotors.com
len h2as  6
credit-cards4u.com
len h2as  8
sierravistaglass.com
len h2as  6
margaretthorperichards.com
len h2as  8
crossfitlobo.com
len h2as  8
mesaridgeliving.com
len h2as  6
silverbridgerealty.com
len h2as  7
kelviecleverdon.com
len h2as  5
usamedicaresupplementshop.com
len h2as  8
vetautosales.com
len h2as  7
actionrealtyco.com
len h2as  6
automoverz.com
len h2as  6
roses-nationwide.com
len h2as  4
era-davislinn.com
len h2as  7
eradavislinn.com
len h2as  6
armynavygame.com
len h2as  6
psofo.com
len h2as  7
prostarcollision.net
len h2as  7
thelossreport.com
len h2as  4
theindyteam.com
len h2as  3
propertybypam.com
len h2as  8
tituswillcollision.com
len h2as  7
911insure.com
len h2as  6
warnerrobinshomesforsale.com
len h2as  9
banishomes.com
len h2as  7
homesbyteamcarter.com
len h2as  8
procollision.net
len h2as  4
bogueautosales.com
len h2as  7
oceansideautosales.com
len h2as  5
broxroofing.com
len h2as  5
cornerstoneroof.com
len h2as  5
altus-prestige.com
len h2as  6
belara-apts.com
len h2as  5
vfwinsurance.com
len h2as  9
brilliantofhollywood.com
len h2as  6
amploan.com
len h2as  8
windrushliving.com
len h2as  8
thehearthstoneapts.com
len h2as  5
themedicalcenterapts.com
len h2as  8
northgatevillageliving.com
len h2as  4
theoakcreekapts.com
len h2as  4
drive4excellence.com
len h2as  5
jeankearney.com
len h2as  2
vahomebase.com
len h2as  6
judyguice.com
len h2as  4
surplusserver.com
len h2as  8
barnesdrager.com
len h2as  5
soldbyus.net
len h2as  8
metroeastmarket.com
len h2as  4
wendythomasrealtor.com
len h2as  6
hecksauto.com
len h2as  6
stevedoane.com
len h2as  5
fortleonardwoodproperty.com
len h2as  4
redbudconstruction-ok.com
len h2as  3
ftleonardwoodhomes.com
len h2as  8
jmautobody.net
len h2as  9
paulasoldit.com
len h2as  5
utaaconnect.com
len h2as  5
vlaa.org
len h2as  9
pahuljica.com
len h2as  4
elac.com.au
len h2as  9
wlac34.org
len h2as  6
vnaa.org
len h2as  7
dancevictory.com
len h2as  3
vraa.gov.lv
len h2as  8
reneruder.net
len h2as  5
petitvraa.dk
len h2as  9
jeugdbrandweeramstelveen.nl
len h2as  9
slotshotel.dk
len h2as  6
dblabel.com
len h2as  5
treffpunkt-arbeit.ch
len h2as  8
wingchun-nord.de
len h2as  4
artsenauto.nl
len h2as  8
osg-vvaa.nl
len h2as  9
wmaasports.org
len h2as  8
wtigers.com
len h2as  8
wmaa34.com
len h2as  7
wmaastudios.org
len h2as  9
sacwmaa.com
len h2as  4
wmaatkd-stl.com
len h2as  8
worldmartialartsusa.com
len h2as  6
williamsmaa.com
len h2as  7
worldtaekwondo.com
len h2as  4
wngga.org
len h2as  7
thewnaa.org
len h2as  5
nafow.org
len h2as  7
wpaa.tv
len h2as  6
bilbobaggs.com
len h2as  5
wpaa.net
len h2as  7
wraawrap.com
len h2as  4
vildmedkrimi.dk
len h2as  4
wsaa.com
len h2as  5
welbedenesaa.net
len h2as  4
westernstatesacquirers.com
len h2as  8
wsaassoc.org
len h2as  8
lewisandclarkbowmen.com
len h2as  8
wtaa.org
len h2as  8
wtaa-witz.de
len h2as  9
wtaa-reutlingen.de
len h2as  7
wtaa.de
len h2as  7
wtaa-rosenfeld.de
len h2as  7
wing-tsung-school.de
len h2as  6
wivalleyart.org
len h2as  4
wolcottambulance.com
len h2as  5
sohofactory.pl
len h2as  9
wwaa.co
len h2as  7
thewyaa.org
len h2as  4
xzaa.ru
len h2as  9
ylaa.ch
len h2as  6
ymaa.com
len h2as  9
ymaa.cl
len h2as  7
ymaa.pl
len h2as  4
huntingdontaichi.com
len h2as  7
ymaatulsa.com
len h2as  6
ymaaquebec.com
len h2as  7
ymaa-store.com
len h2as  7
ymaa-retreatcenter.org

len h2as  7
ymaagorey.ie
len h2as  5
kungfudzieci.pl
len h2as  4
qielements.com
len h2as  6
triquetra.ru
len h2as  5
ymaaportugal.com
len h2as  5
kanoon-tabriz.net
len h2as  6
yaleaerospace.com
len h2as  5
equus-arabian.de
len h2as  5
blutpferde.de
len h2as  6
baumannweingut.ch
len h2as  4
zzaa.net
len h2as  4
                  url  10085  10086  10087  10088  10089  10090  10091  10092  \
0             qmaa.ca    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1   qvae.blogspot.com    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
2    russia-promo.com    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3         rmaa.com.br    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4  refermeanagent.com    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

   10093  ...    11862  11863  11864  11865  11866  11867  11868  11869  \
0    NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1    1.0  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2    NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3    NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4    NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

   11870  11871
0    NaN    NaN
1    NaN    NaN
2    NaN    NaN
3    NaN    NaN
4    NaN    NaN

[5 rows x 1789 columns]
(297, 1789)

<a class="text-dark" href="https://trends.builtwith.com/analytics/Google-Analytics">Google Analytics</a>

In [69]:
df = pd.read_pickle('sites.1.pkl')
df.head()

,url,10085,10086,10087,10088,10089,10090,10091,10092,10093,...,11862,11863,11864,11865,11866,11867,11868,11869,11870,11871
0,qmaa.ca,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,qvae.blogspot.com,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,russia-promo.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,rmaa.com.br,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,refermeanagent.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
df[11871][1]

nan

In [71]:
df[df.url == 'hanatour.com']

Empty DataFrame
Columns: [url, 10085, 10086, 10087, 10088, 10089, 10090, 10091, 10092, 10093, 10094, 10095, 10096, 10097, 10098, 10099, 10100, 10101, 10102, 10103, 10104, 10105, 10106, 10107, 10108, 10109, 10110, 10111, 10112, 10113, 10114, 10115, 10116, 10117, 10118, 10119, 10120, 10121, 10122, 10123, 10124, 10125, 0, 10126, 10127, 10128, 10129, 10130, 10131, 10132, 10133, 10134, 10135, 10136, 10137, 10138, 10139, 10140, 10141, 10142, 10143, 10144, 10145, 10146, 10147, 10148, 10149, 10150, 10151, 10152, 10153, 10154, 10155, 10156, 10157, 10158, 10159, 10160, 10161, 10162, 10163, 10164, 10165, 10166, 10167, 10168, 10169, 10170, 10171, 10172, 10173, 10174, 10175, 10176, 10177, 10178, 10179, 10180, 10181, 10182, ...]
Index: []

[0 rows x 1789 columns]

In [72]:
import numpy as np
f = open(tfn, 'r')
names_s = f.read()
f.close()
names = np.array(names_s.split(','))
len(names)

11872

In [73]:
d = {}
for i,x in enumerate(names):
  d[i] = x.strip()
df.rename(index=str, columns=d, inplace=True)
df.head()

,url,Histats,Google Plus One Button,Google Plus One Platform,Blogger,Google API,Lightbox,KlikSaya,RevenueHits,Google Adsense,...,JuicyAds,AOL,WP Job Manager,SimShop,Trucking,DNS Link,123ContactForm,Callcap,Daily Stories,Metanet
0,qmaa.ca,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,qvae.blogspot.com,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,russia-promo.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,rmaa.com.br,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,refermeanagent.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
df.shape

(297, 1789)

In [75]:
df[df.columns.drop('url')] = df[df.columns.drop('url')].fillna(-1.0).astype(int)

In [76]:
df.head()

,url,Histats,Google Plus One Button,Google Plus One Platform,Blogger,Google API,Lightbox,KlikSaya,RevenueHits,Google Adsense,...,JuicyAds,AOL,WP Job Manager,SimShop,Trucking,DNS Link,123ContactForm,Callcap,Daily Stories,Metanet
0,qmaa.ca,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,qvae.blogspot.com,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,russia-promo.com,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,rmaa.com.br,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,refermeanagent.com,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [77]:
dfn = df
dfo = pd.read_pickle('sites.pkl')
dfo.head()

,url,Google Analytics,Matomo,Facebook Signal,Facebook Pixel,Facebook Conversion Tracking,Google Tag Manager,Korean,Cart Functionality,ASP.NET,...,Google Postini Services,Network Solutions EV,UTF-16/UCS-2,weeComments,Local.com Hyperlocal,Motophoto,Taunita,Yahoo,TicketDerby,job
0,hanatour.com,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,digwebinterface.com,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,xfree.hu,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,iplanetwork.com,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,sdu.org.cn,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [78]:
dfo[dfo.url == 'hanatour.com']

,url,Google Analytics,Matomo,Facebook Signal,Facebook Pixel,Facebook Conversion Tracking,Google Tag Manager,Korean,Cart Functionality,ASP.NET,...,Google Postini Services,Network Solutions EV,UTF-16/UCS-2,weeComments,Local.com Hyperlocal,Motophoto,Taunita,Yahoo,TicketDerby,job
0,hanatour.com,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [79]:
df = pd.concat([dfo, dfn], ignore_index=True, sort=True)
df.head()

,.FOX Networks,013 NetVision,1-800-Hosting,1000mercis,100TB,100sklepow,103bees,10Duke,10dence Hispahard,10to8,...,xHost Solutions,xMag Theme,xPerson Lite,xat chat,xplosion interactive,xui.js,yepnope,youCMS,zepto.js,zipPay
0,0.0,0,0.0,0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN
1,0.0,0,0.0,0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN
2,0.0,0,0.0,0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN
3,0.0,0,0.0,0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN
4,0.0,0,0.0,0,0.0,NaN,NaN,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN

In [82]:
df[(df.url == 'qvae.blogspot.com') & (df.Blogger == 1)]

,.FOX Networks,013 NetVision,1-800-Hosting,1000mercis,100TB,100sklepow,103bees,10Duke,10dence Hispahard,10to8,...,xHost Solutions,xMag Theme,xPerson Lite,xat chat,xplosion interactive,xui.js,yepnope,youCMS,zepto.js,zipPay
2363,NaN,0,NaN,0,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,0.0

In [83]:
df[df.columns.drop('url')] = df[df.columns.drop('url')].fillna(0.0).astype(int)

In [84]:
df[df.url == 'digwebinterface.com']

,.FOX Networks,013 NetVision,1-800-Hosting,1000mercis,100TB,100sklepow,103bees,10Duke,10dence Hispahard,10to8,...,xHost Solutions,xMag Theme,xPerson Lite,xat chat,xplosion interactive,xui.js,yepnope,youCMS,zepto.js,zipPay
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [154]:
def get_columns(key_, exact = False):
  c = []
  if key_ is not list:
        key_ = [key_]
  for key in key_:        
    for column in df.columns:
      if exact:
        try:
          assert(column == key),'no match'
          key = key.lower()
        except AssertionError:
          continue
      try:
        index = column.lower().index(key)
      except ValueError:
        pass
      else:
        c.append(column)
  return c

phpColumns = get_columns('php')
reduxColumns = get_columns('redux')
reactColumns = get_columns('react')
jqueryColumns = get_columns('jquery')
facebookColumns = get_columns('facebook')
neuralColumns = get_columns('nueral')
wordpressColumns = get_columns('wordpress')
twitterColumns = get_columns('twitter')
angularColumns = get_columns('angular')
vueColumns =  get_columns(['Vue','Vuetify','vuex','Revue'],True)
typescriptColumns = get_columns('typescript')
vueColumns

[]

In [108]:
def phpColumn(row):
  for php in phpColumns:
    if row[php] == 1:
      return 1
  return 0

In [109]:
df['job'] = df.apply(lambda row: phpColumn(row),axis=1)

In [111]:
df.url[df.job == 1].count()

19

In [112]:
df.to_pickle('sites.pkl')

In [131]:
test_dups = technologies_class(find_dups=True)
test_dups.print_dups()

count: 0

In [136]:
import random
random.seed(123)
ratings = [(t.strip(), random.random() - 0.5) for t in test_dups.technologies() ]
print(f"|{ratings[1][0]}|")

f = io.open('ratings.csv', 'w')
f.write(','.join(f"({r[0].strip()},{r[1]})" for r in ratings))
f.close()

|Technology Profile|

In [134]:
rating_dict = {}
for r in ratings:
    rating_dict[r[0]] = r[1]

In [135]:
df.shape

(2659, 10617)

In [ ]:

minLen = 30
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

half_mean_height = 0.1

def printChart(c,data):

  df = pd.DataFrame.from_dict(data)
  # print(df.head())
  n = len(data)
  plt.figure(figsize=(max(n/5,5),5))
  data_order =['min_stars', 'low', 'mean_low', 'mean_high', 'high', 'max_stars']
  colors = [None, "b",'g', 'black', "g", "gold"]
#   values = np.array([[d[name] for name in data_order] for d in data])
  order = np.array(data_order)
  ind = np.arange(n)    # the x locations for the groups
  bottom = np.array(df['min_stars'])
  width = 0.4
  name_dict = {'low': 'Low Stars','mean_low': 'Confidence Interval','mean_high': 'Confidence Interval Mean',  'high': None, 'max_stars': 'High Stars'}
  for name,color in zip(data_order[1:],colors[1:]):
    value = np.array(df[name])
    # p1 = plt.bar(ind, value, width, color=color, bottom = bottom, label=name_dict[name], alpha=(1 if name == 'mean_low' else 0.5))
    p1 = plt.bar(ind, value, width, color=color, bottom = bottom, label=name_dict[name]) 
    bottom = value
    # print(f'name: {name} color: {color} value: {value}')
  #plt.bar(ind,np.array(df.mean_high),width, color='black', bottom=np.array(df.mean_low), label = 'Mean')

#   plt.yticks(bottoms+0.4, ["data %d" % (t+1) for t in bottoms])
  plt.legend(loc="best", bbox_to_anchor=(1.0, 1.00))
  plt.ylabel('Stars')
  plt.title(f"Drugs for {c}")
  plt.xticks(ind, np.array(df['drug']), rotation=('vertical' if n > 3 else 'horizontal'))
#   start, end = plt.yaxis
#   plt.yaxis.set_major_locator(ticker.MultipleLocator((end - start) / 10))
  axes = plt.gca()
  axes.set_ylim([0,10])
  plt.yticks(np.arange(0, 11, 1))
#   plt.subplots_adjust(right=0.85)

  plt.show();

In [ ]:
scores = []
for i,row in enumerate(df.rows):
    scores = []
    for c in df.columns[1:]
        if row[c] != 0:
            scores.append(rating_dict[c])